*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}


body{
    background: #303235 !important;
}


nav{
    text-align: right;
    padding: 30px 50px 0 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav > a{
    color:rgb(10, 106, 202);
    font-weight: 300;
    text-decoration: none;
    margin-right: 20px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textosheader{
    display: flex;
    height: 350px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #000000;
    font-family: "Roboto", sans-serif;
}

img{
    width: 700px;
    float: left;
    min-width: 10px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 5px;
}


/**********************************/

.global-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0b57bb;
}


.login-form{
    width: 300px;
    height: 350px;
    margin: 2%;
    background: #000000 !important;
    border-radius: 10px !important;
    padding-right: 2%;
    padding-left: 2%;
}

input[type="user"], 
input[type="password"]{
    background: #1a2226;
    border: 2px solid #0b57bb;
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type="user"]:focus,
input[type="password"]:focus{
    outline: none;
    border: none;
    background: #1a2226;
    margin: 0;
}

.card-title{
    font-weight: 600;
    padding-top: 20px;
}

.btn{
    background: #0b57bb;
    margin-top: 12%;
    margin-bottom: 50%;
    font-size: 10px;
    transform: translateY(10px);
    border-radius: 10px !important;
}

.singup{
    text-align: center;
    padding-top: 25px;
}


